body{
    background-color:#ffda79;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* html,
body,
body>.container {
    height: 98%;
    width: 100%;
		background-size: cover;
		background-attachment: fixed;
		background-size: 100% 100%;
} */


.navbar-brand{
    padding: 0;
    margin: 0;
}
.cart-title{
    font-weight: lighter;
}
.prods{
    width: 100%;
}
.card img{
    width: 100%;
}
/* navbar */
.navbar{
    padding: 1.5%;
}
.navbar-brand{
    border-right: solid 3px rgba(0, 0, 0, 0.548);
    padding-right: 2%;
    margin-right: 2%;
}
/* about */
.big-card{
    margin-top: 5%;
    width: 50%;
}
.big-card h1{
    text-align: center;
    font-weight: lighter;
}
.big-card p{
    margin-top: 3%;
    border: 1px solid black;
    padding: 2%;
    font-size: small;
    font-weight: lighter;
    border-radius: 15px;
    background-color: #fff;
}
/* faq */
.faq h1,.faq h2{
    text-align: center;
}
.faq h1{
    margin-top: 2%;
    font-size: xx-large;
    font-weight: bold;
}
.faq h2{
    font-weight: lighter;
    margin-top: 1%; 
    font-size: medium;
}
.faq{
    text-align: center;
}
.faq a{
    text-decoration: none;
    color: black;
    /* background-color: #fff; */
    padding: 1%;
    border-radius: 15px;
}
.collapse .card-body{
    border-radius: 15px;
}
/* responsiveness */
@media only screen and (max-width: 600px) {
    .navbar-collapse {
        
        margin-top: 3%;
        text-align: center;
    }
    .navbar-brand{
        margin: 0;
        border: 0;
    }
  }